{% extends "_admin_layout.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Provisioners</h1>
</div>

<div style="max-width: 400px;">
    <h2 class="h3">Delete Provisioner: {{ provisioner.name }}</h2>
    <form action="" method="POST">
        {{ render_errors(form) }}
        {{ form.csrf_token }}

        {{ render_field(form.name) }}

        <button class="btn btn-danger" name="action" type="submit" value="delete_provisioner">Delete</button>
    </form>
</div>
{% endblock %}
